img{
    width: 100%;
    height: auto;
    
}

#boardriders {
    width: 200px;
}

.about-me { 
    display: flex;
    /*flex-direction: column;
    /*justify-content: center; 
    align-items: center; */
    gap: 20px; 
    flex-wrap: wrap; 
    /* padding: 20px; */
}

.about-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff85a2; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.about-button:hover {
    transform: scale(1.2);
    background-color: #ff608b;
}

.blurred-image {
    width: 350px; 
    height: 400px; 
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}


.blurred-image:hover {
    filter: blur(0); /* Removes blur on hover */
}

