.about-me { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;
}

.about-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff85a2; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.about-button:hover {
    transform: scale(1.2);
    background-color: #ff608b;